<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/images/suitcases.png" type="image/x-icon">
    <title>Yatra | Online Flight and Hotel Booking</title>
    <meta name="description" content="Find Flights and Hotels at the best price, with our discounts and ">
    <!-- VueJs plugin -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- bootstrap css plugin -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body id="app">
    <header>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top container-fluid shadow-sm p-0 px-3">
            <div class="navbar-brand px-lg-5">
                <a href="/index.html" class="navbar-brand">
                    <img src="/assets/images/suitcases.png" alt="logo" width="40" height="40" class="d-inline-block align-top">
                    <h1 class="display-6 d-inline-block mx-2">Yatra</h1>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-lg-start" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li v-for="navItem in navItems" class="nav-item active">
                        <button href="#" class="nav-link active px-3 rounded btn btn-default">
                            <img :src="navItem.icon" :alt="navItem.alt">
                            <h6 class="d-inline d-lg-block p-3 p-lg-0">{{navItem.name}}</h6>
                        </button>
                    </li>
                </ul>
            </div>
            <!-- for signin and signup -->
            <div class="collapse navbar-collapse justify-content-lg-end" id="navbarSupportedContent">
                <h5 class="d-block d-lg-none">Account and Settings</h5>
                <ul class="navbar-nav mr-auto">
                    <li v-if="authUser.length == 0" class="nav-item active">
                        <button type="button" class="btn btn-danger">Log in</button>
                    </li>
                    <li v-else class="nav-item active">
                        <div class="dropdown rounded">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">{{authUser[currUser].userName}}</button>
                            <ul class="dropdown-menu rounded px-3" aria-labelledby="dropdownMenuButton1">
                                <li><a href="#" class="dropdown-item">Profile</a></li>
                                <li><a href="#" class="dropdown-item">Orders</a></li>
                                <li><a href="#" class="dropdown-item">Wishlist</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><button type="button" class="btn btn-danger container-fluid">SignOut</button></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <button type="button" class="btn btn-light"><img src="/assets/images/checkout.png" alt=""> <span class="badge bg-secondary">{{checkoutItems.length}}</span></button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <script src="/main.js"></script>
    <!-- mounting app -->
    <script>
        const mountedApp = app.mount("#app")
    </script>
    <!-- bootstrap js plugins -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>