body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    background-color: white;
}
h1{
    font-family: 'Comfortaa', cursive;
    text-shadow: -2px 2px rgb(128 128 128 / 50%);
}
.heading{
    font-family: 'Comfortaa', cursive;
}
.a{
    cursor: pointer;
}
#logpanel{
    background-color: rgba(0, 0, 0, 0.356);
    top: 0;
    z-index: 1031;
    height: 100%;
}
#logwindow{
    position: relative;
    z-index: 1032;
    width: 90%;
    background-color: white;
}
.selected{
    border-bottom: 1px solid #1a73e8
}
#nav-panel{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.2);
}
#navButton:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 0.562);
}
section{
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.3rem;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 !important;
    margin: 80px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
#card-frame{
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    align-items: unset;
    justify-content: center;
}
#card-frame:hover{
    background-color: rgba(0, 0, 0, 0.4);
    transition-duration: .2s;
    cursor: pointer;
}
#card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5%;
    font-weight: 500;
    color: #f5f5f5;
    font-size: 2rem;
}
#card-link{
    text-decoration: none;
}
#animation-container{
    display: flex;
    justify-content: center;
}
#card-final{
    font-size: 1.3rem;
    font-weight: 800;
    margin-top: 5vh;   
}
@media(max-width: 991px){
    #animation-container{
        height: 50%;
    }
    #card-text{
        font-size: 1.5rem
    }
    #navButton:hover{
        background-color: rgba(0, 0, 0, 0.09)
    }
    #copy{
        width: auto;
    }
    .responsive-padding{
        padding: 0.2rem !important
    }
    .responsive-font{
        font-size: 0.8rem
    }
}
.first{
    margin-top: 6rem
}
#intro{
    background-image: url('./images/explore.webp');
}
#flight{
    background-image: url('./images/airport_terminal.webp')
}
#hotel{
    background-image: url('./images/hotel.webp');
}
#package{
    background-image: url('./images/package_background.png');
}
.back-to-top{
    right: 0;
}
.foot-link{
    color: #5f6368;
    text-decoration: none
}
.foot-link:hover{
    color: #202124
}
.foot-link-active{
    color: #202124
}
.tile-shadow{
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.4)
}
.blue-button{
    border: 2px solid #337ab7;
    color: #337ab7
}
.blue-button:hover{
    border: 2px solid #23527c;
    color: #23527c;
    text-align: center
}
.gray-button{
    border: 2px solid #8a8a8a;
    color: #8a8a8a;
    text-align: center
}
.gray-tab{
    background-color: #00000014
}