body{
    font-family: 'Open Sans', sans-serif;
}
header{
}
#logpanel{
    background-color: rgba(0, 0, 0, 0.356);
    z-index: 1031;
    min-height: 100%;
}
#logwindow{
    position: relative;
    z-index: 1032;
    width: 90%;
    background-color: white;
}
#navButton:hover{
    background-color: rgba(0, 0, 0, 0.171);
    border-bottom: 1px solid rgba(0, 0, 0, 0.562);
}