body{
    font-family: 'Open Sans', sans-serif;
}
header{
}
#logpanel{
    background-color: rgba(0, 0, 0, 0.356);
    z-index: 1031
}
#logwindow{
    max-width: 90%;
    height: 90%;
    min-width: 500px;
    background-color: white;
}